//字体定义规范
$font-size-small = 10px
$font-size-small-x = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 边距定义规范
$padding-size-small = 8px
$padding-size-small-x = 10px
$padding-size-middle = 15px
$padding-size-middle-x = 20px
$padding-size-large = 30px
$padding-size-large-x = 40px

// 颜色定义规范
$right-color = #606266

$ft18 = 18px //
$ft14 = 14px // 常规体 导航栏
$ft13 = 13px // 操作按钮 辅助文字
$error-color = #FF4E36  // 警示字符 数据错误，数据超过定值，提示状态背景颜色
$main-color = #006072 // 主色调，主按钮颜色，表单标题文字颜色，操作按钮主体颜色
$sub-color = #E3F2F5 // 表单标题背景，部分操作按钮背景色
$bg-color = #FAFAFA  // 页面背景色
$ft-color = #323232 // 字体主颜色
$rt-color = #676767 // 右侧浅的颜色字体
// 间距类
$mt20 =  20px